In [1]:
import pandas as pd

/Users/Nico_7/.pyenv/versions/3.9.7/lib/python3.9/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

Revisaremos los valores faltantes:

In [2]:
df1 = pd.read_csv('movie_metadata.csv')
df1.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

Nos podría interesar, por ejemplo, estudiar las peliculas más exitosas.

In [3]:
df1.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

Seleccionaremos las siguientes columnas, pasando de 28 a 11.

In [4]:
df1 = df1[['movie_title','title_year','language','genres','duration','gross','movie_facebook_likes',
        'director_name', 'country','actor_1_name','actor_2_name','actor_3_name']]
df1.head()

,movie_title,title_year,language,genres,duration,gross,movie_facebook_likes,director_name,country,actor_1_name,actor_2_name,actor_3_name
0,Avatar,2009.0,English,Action|Adventure|Fantasy|Sci-Fi,178.0,760505847.0,33000,James Cameron,USA,CCH Pounder,Joel David Moore,Wes Studi
1,Pirates of the Caribbean: At World's End,2007.0,English,Action|Adventure|Fantasy,169.0,309404152.0,0,Gore Verbinski,USA,Johnny Depp,Orlando Bloom,Jack Davenport
2,Spectre,2015.0,English,Action|Adventure|Thriller,148.0,200074175.0,85000,Sam Mendes,UK,Christoph Waltz,Rory Kinnear,Stephanie Sigman
3,The Dark Knight Rises,2012.0,English,Action|Thriller,164.0,448130642.0,164000,Christopher Nolan,USA,Tom Hardy,Christian Bale,Joseph Gordon-Levitt
4,Star Wars: Episode VII - The Force Awakens ...,NaN,NaN,Documentary,NaN,NaN,0,Doug Walker,NaN,Doug Walker,Rob Walker,NaN

Examinamos como viene la info de los títulos de las películas:

In [5]:
df1['movie_title'].unique()

array(['Avatar\xa0', "Pirates of the Caribbean: At World's End\xa0",
       'Spectre\xa0', ..., 'A Plague So Pleasant\xa0',
       'Shanghai Calling\xa0', 'My Date with Drew\xa0'], dtype=object)

El formato del csv contenía strings con 'xa0', por lo que solucionamos dicho problema

In [6]:
df1 = df1.replace('\xa0', '', regex=True)

Revisamos la cantidad de información duplicada que existe

In [7]:
df1.duplicated().sum(), df1['movie_title'].duplicated().sum()

(123, 126)

Podemos revisar las entradas duplicadas en el dataframe:

In [8]:
duplicados_df1 = df1[df1.duplicated(keep=False)]
duplicados_df1.head()

,movie_title,title_year,language,genres,duration,gross,movie_facebook_likes,director_name,country,actor_1_name,actor_2_name,actor_3_name
6,Spider-Man 3,2007.0,English,Action|Adventure|Romance,156.0,336530303.0,0,Sam Raimi,USA,J.K. Simmons,James Franco,Kirsten Dunst
17,The Avengers,2012.0,English,Action|Adventure|Sci-Fi,173.0,623279547.0,123000,Joss Whedon,USA,Chris Hemsworth,Robert Downey Jr.,Scarlett Johansson
25,King Kong,2005.0,English,Action|Adventure|Drama|Romance,201.0,218051260.0,0,Peter Jackson,New Zealand,Naomi Watts,Thomas Kretschmann,Evan Parke
30,Skyfall,2012.0,English,Action|Adventure|Thriller,143.0,304360277.0,80000,Sam Mendes,UK,Albert Finney,Helen McCrory,Rory Kinnear
33,Alice in Wonderland,2010.0,English,Adventure|Family|Fantasy,108.0,334185206.0,24000,Tim Burton,USA,Johnny Depp,Alan Rickman,Anne Hathaway

En este caso, como la cantidad de información duplicada en el dataframe completo es prácticamente igual al nombre de pelicula, quitaremos las entradas duplicadas porque no hay información salvable.

In [9]:
df1 = df1.drop_duplicates(subset = ['movie_title'])

Verificamos que no exista información duplicada:

In [10]:
df1.duplicated().sum(), df1['movie_title'].duplicated().sum()

(0, 0)

Ahora, estudiaremos los valores faltantes dentro de nuestro dataframe

## Valores faltantes

In [11]:
df1.isna().sum()

movie_title               0
title_year              106
language                 12
genres                    0
duration                 15
gross                   863
movie_facebook_likes      0
director_name           102
country                   5
actor_1_name              7
actor_2_name             13
actor_3_name             23
dtype: int64

Podemos notar que existen varios valores faltantes en la columna "gross". Visualizaremos algunas entradas de nuestro dataframe que posean ese valor faltante.

In [12]:
df1[(df1['gross'].isna())&(df1['movie_facebook_likes']==0)].head()

,movie_title,title_year,language,genres,duration,gross,movie_facebook_likes,director_name,country,actor_1_name,actor_2_name,actor_3_name
4,Star Wars: Episode VII - The Force Awakens ...,NaN,NaN,Documentary,NaN,NaN,0,Doug Walker,NaN,Doug Walker,Rob Walker,NaN
98,Godzilla Resurgence,2016.0,Japanese,Action|Adventure|Drama|Horror|Sci-Fi,120.0,NaN,0,Hideaki Anno,Japan,Mark Chinnery,Shin'ya Tsukamoto,Atsuko Maeda
177,Miami Vice,NaN,English,Action|Crime|Drama|Mystery|Thriller,60.0,NaN,0,NaN,USA,Don Johnson,Philip Michael Thomas,John Diehl
260,The A-Team,NaN,English,Action|Adventure|Crime,60.0,NaN,0,NaN,USA,George Peppard,Dirk Benedict,Dwight Schultz
279,"10,000 B.C.",NaN,NaN,Comedy,22.0,NaN,0,Christopher Barnard,NaN,Mathew Buck,NaN,NaN

Si bien existen muchas entradas faltantes en el dinero recaudado, podemos considerar la cantidad de likes que recibió esa película en la red social facebook. Por ende, quitaremos solo las entradas que no poseen gross y sus likes son nulos (no nos aporta info)

In [13]:
df1 = df1[~(df1['gross'].isna())|~(df1['movie_facebook_likes']==0)]
df1.head()

,movie_title,title_year,language,genres,duration,gross,movie_facebook_likes,director_name,country,actor_1_name,actor_2_name,actor_3_name
0,Avatar,2009.0,English,Action|Adventure|Fantasy|Sci-Fi,178.0,760505847.0,33000,James Cameron,USA,CCH Pounder,Joel David Moore,Wes Studi
1,Pirates of the Caribbean: At World's End,2007.0,English,Action|Adventure|Fantasy,169.0,309404152.0,0,Gore Verbinski,USA,Johnny Depp,Orlando Bloom,Jack Davenport
2,Spectre,2015.0,English,Action|Adventure|Thriller,148.0,200074175.0,85000,Sam Mendes,UK,Christoph Waltz,Rory Kinnear,Stephanie Sigman
3,The Dark Knight Rises,2012.0,English,Action|Thriller,164.0,448130642.0,164000,Christopher Nolan,USA,Tom Hardy,Christian Bale,Joseph Gordon-Levitt
5,John Carter,2012.0,English,Action|Adventure|Sci-Fi,132.0,73058679.0,24000,Andrew Stanton,USA,Daryl Sabara,Samantha Morton,Polly Walker

Ahora, el resto de valores NaN de otras columnas, podríamos rellenarlas de diferentes formas. Por ejemplo, teníamos 15 peliculas que no poseen info sobre su duración. Rellenaremos esos valores faltantes con el promedio de la columna y veremos como cambian su estadística descriptiva

In [14]:
df1['duration'].describe()

count    4631.000000
mean      107.655798
std        23.846519
min         7.000000
25%        94.000000
50%       104.000000
75%       118.000000
max       334.000000
Name: duration, dtype: float64

In [15]:
df1['duration'] = df1['duration'].fillna(df1['duration'].mean())

In [16]:
df1['duration'].describe()

count    4644.000000
mean      107.655798
std        23.813111
min         7.000000
25%        94.000000
50%       104.000000
75%       118.000000
max       334.000000
Name: duration, dtype: float64

Podemos notar que cambia levemente la desviación de los datos.

## Pregunta formativa 2

Código para reemplazar datos faltantes de la columna “Lenguaje” por “Sin lenguaje”.

In [17]:
df1['language'] = df1['language'].fillna('Sin Lenguaje')

In [22]:
df1[df1['language']=='Sin Lenguaje'].head()

,movie_title,title_year,language,genres,duration,gross,movie_facebook_likes,director_name,country,actor_1_name,actor_2_name,actor_3_name
3086,September Dawn,2007.0,Sin Lenguaje,Drama|History|Romance|Western,111.0,1066555.0,411,Christopher Cain,USA,Jon Gries,Taylor Handley,Trent Ford
3539,Alpha and Omega 4: The Legend of the Saw Tooth...,2014.0,Sin Lenguaje,Action|Adventure|Animation|Comedy|Drama|Family...,45.0,Desconocido,41,Richard Rich,USA,Debi Derryberry,Kate Higgins,Cindy Robinson
3869,Silent Movie,1976.0,Sin Lenguaje,Comedy|Romance,87.0,Desconocido,629,Mel Brooks,USA,Sid Caesar,Dom DeLuise,Bernadette Peters
4110,Love's Abiding Joy,2006.0,Sin Lenguaje,Drama|Family|Western,87.0,252726.0,76,Michael Landon Jr.,USA,William Morgan Sheppard,Kevin Gage,Brianna Brown
4630,A Fine Step,2014.0,Sin Lenguaje,Drama,111.0,Desconocido,212,Jonathan Meyers,USA,Justin Baldoni,Luke Perry,Leonor Varela

In [19]:
df1.isna().sum()

movie_title               0
title_year               62
language                  0
genres                    0
duration                  0
gross                   590
movie_facebook_likes      0
director_name            61
country                   2
actor_1_name              7
actor_2_name             12
actor_3_name             20
dtype: int64

Por último, podemos colocar los datos faltantes restantes como "desconocidos" para tenerlos en cuenta igualmente.

In [20]:
df1 = df1.fillna('Desconocido')

In [21]:
df1.isna().sum()

movie_title             0
title_year              0
language                0
genres                  0
duration                0
gross                   0
movie_facebook_likes    0
director_name           0
country                 0
actor_1_name            0
actor_2_name            0
actor_3_name            0
dtype: int64